# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DATABASE_URL="postgresql://postgres:password@localhost:5432/stockflow?schema=public"

# JWT Configuration
JWT_SECRET=8Qo9MErJGD+lTlkJE5dRYKRXWtRv4jlFshbhVQq8Ft4=
JWT_EXPIRES_IN=7d

# Bcrypt Salt Rounds
BCRYPT_SALT_ROUNDS=10